JolieService/Chirpter/ChirpterService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="org.camunda.bpm.ExternalService.wsdl" xmlns:xsd1="org.camunda.bpm.ExternalService.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="org.camunda.bpm.ExternalService.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="org.camunda.bpm.ExternalService.xsd" xmlns:sch="org.camunda.bpm.ExternalService.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="publish"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="msg" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="authKey" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="chirpID" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="publishResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="response" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="createChirpStream"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="msg" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="authKey" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="chirpID" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="createChirpStreamResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="response" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="getChirpList"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="authKey" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="getChirpListResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="response" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="ChirpterListRequest">
    <wsdl:part name="body" element="xsd1:getChirpList"/>
  </wsdl:message>
  <wsdl:message name="ChirpterResponse">
    <wsdl:part name="body" element="xsd1:getChirpListResponse"/>
  </wsdl:message>
  <wsdl:message name="ChirpterRequest">
    <wsdl:part name="body" element="xsd1:createChirpStream"/>
  </wsdl:message>
  <wsdl:portType name="ChirpterService">
    <wsdl:operation name="publish">
      <wsdl:input message="tns:ChirpterRequest"/>
      <wsdl:output message="tns:ChirpterResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createChirpStream">
      <wsdl:input message="tns:ChirpterRequest"/>
      <wsdl:output message="tns:ChirpterResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getChirpList">
      <wsdl:input message="tns:ChirpterListRequest"/>
      <wsdl:output message="tns:ChirpterResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChirpterServiceSOAPBinding" type="tns:ChirpterService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="publish">
      <soap:operation soapAction="publish" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createChirpStream">
      <soap:operation soapAction="createChirpStream" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChirpList">
      <soap:operation soapAction="getChirpList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChirpterServiceService">
    <wsdl:port name="ChirpterServiceServicePort" binding="tns:ChirpterServiceSOAPBinding">
      <soap:address location="http://localhost:8001"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
