JolieService/TwiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="soseng.wsdl" xmlns:xsd1="soseng.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="soseng.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="soseng.xsd" xmlns:sch="soseng.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="twice"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="value" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="twiceResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="twice" type="xs:int"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="TwiceRequest">
    <wsdl:part name="body" element="xsd1:twice"/>
  </wsdl:message>
  <wsdl:message name="TwiceResponse">
    <wsdl:part name="body" element="xsd1:twiceResponse"/>
  </wsdl:message>
  <wsdl:portType name="TwiceService">
    <wsdl:operation name="twice">
      <wsdl:input message="tns:TwiceRequest"/>
      <wsdl:output message="tns:TwiceResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TwiceServiceSOAPBinding" type="tns:TwiceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="twice">
      <soap:operation soapAction="twice" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TwiceServiceService">
    <wsdl:port name="TwiceServiceServicePort" binding="tns:TwiceServiceSOAPBinding">
      <soap:address location="http://localhost:8000"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
