JolieService/BankService/BankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="soseng.wsdl" xmlns:xsd1="soseng.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="soseng.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="soseng.xsd" xmlns:sch="soseng.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="checkAccount"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="user" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="checkAccountResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="response" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="payment"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="authKey" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="password" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="amount" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="receiver" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="user" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="paymentResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="response" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="AccountRequest">
    <wsdl:part name="body" element="xsd1:checkAccount"/>
  </wsdl:message>
  <wsdl:message name="BankResponse">
    <wsdl:part name="body" element="xsd1:paymentResponse"/>
  </wsdl:message>
  <wsdl:message name="BankRequest">
    <wsdl:part name="body" element="xsd1:payment"/>
  </wsdl:message>
  <wsdl:portType name="BankService">
    <wsdl:operation name="checkAccount">
      <wsdl:input message="tns:AccountRequest"/>
      <wsdl:output message="tns:BankResponse"/>
    </wsdl:operation>
    <wsdl:operation name="payment">
      <wsdl:input message="tns:BankRequest"/>
      <wsdl:output message="tns:BankResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankServiceSOAPBinding" type="tns:BankService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkAccount">
      <soap:operation soapAction="checkAccount" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payment">
      <soap:operation soapAction="payment" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankServiceService">
    <wsdl:port name="BankServiceServicePort" binding="tns:BankServiceSOAPBinding">
      <soap:address location="http://localhost:8000"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
